.idea
.DS_Store
.ipynb_checkpoints/
nohup.out
*.out
*.log
*.csv
*learned*.psl
inferred-predicates
*.jar
*.zip
data
Untitled.ipynb
psl-examples
tuffy-examples
results
diag_newton_results
results_MLE_robustness
results_tuffy_performance_study
scripts/__pycache__/
scripts/psl_scripts/__pycache__/
scripts/tuffy_scripts/__pycache__/
*.o
*.tar.gz
*.tgz
m3lns/mosek
m3lns/bison-2.3
m3lns/flex-2.6.0
m3lns/alchemy
m3lns/src/lpsolve64
*.last
m3lns/lib
m3lns/share
m3lns/include
m3lns/info
*.so
*.a
