.idea
.DS_Store
.ipynb_checkpoints/
nohup.out
*.out
*.log
*.csv
*learned*.psl
inferred-predicates
*.jar
*.zip
data
Untitled.ipynb
psl-examples
tuffy-examples
results
scripts/__pycache__/
scripts/psl_scripts/__pycache__/
scripts/tuffy_scripts/__pycache__/